.navbar-brand {
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar {
  box-shadow: 0px 5px 34px rgba(0, 0, 0, 0.1);
}
header {
  background: url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  /* overflow: hidden; */
}
[contain] {
  background-color: lightblue;
  opacity: 1;
  vertical-align: middle;
  flood-opacity: 5%;
}
[overlay] {
  position: absolute;
  top: 1;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

[display-3] {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: lightblue;
  text-align: center;
  /* opacity: 1; */
  vertical-align: middle;
  flood-opacity: 5%;
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0;
  /* background-color: black; */
  opacity: 0.7;
  z-index: 1;
}
[small] {
  font-size: 20px;
  padding-right: 3em;
}
[smaller] {
  font-size: 17px;
  padding-right: 3em;
}
.navbar-toggler-icon {
  border-style: none;
}

.nav-link:hover {
  background: lightblue;
  box-shadow: 0px 13px 34px rgba(0, 0, 0, 0.3);
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.carousel-item {
  height: 65vh;
  /* min-height: 350px; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
[icon-placeholder] {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  color: white;
  text-align: center;
}
.service-icons {
  color: white;
  background: lightblue;
  border-radius: 50%;
  padding: 0.2em 0.2em 0.2em 0.2em;
  box-shadow: 0px 13px 34px rgba(0, 0, 0, 0.3);
  animation: service-icons 1s ease-in-out 0s infinite alternate;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: service-icons;
}
@keyframes service-icons {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
p {
  cursor: pointer;
}
.jumbotron {
  padding: 5em 0em 9em 0em;
}
.col-sm {
  padding: 5em 0em 0em 0em;
}
.contact-sect {
  padding: 2em 2em 2em 2em;
}
#sticky-footer {
  flex-shrink: none;
}
[display-2] {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.twitter {
  color: #00acee;
}
.google {
  color: #db3236;
}
.contact-us {
  /* background-color: #f1f1f1; */
  padding: 0.4em 1em 2em 5em;
  border-radius: 12px;
}
.contact-us:hover {
  box-shadow: 0px 13px 34px rgba(0, 0, 0, 0.3);
}
.col-sm {
  padding: 2em 2em 2em 2em;
}
.row {
  padding: 1em 2em 1em 2em;
}
[class*="col-"] {
  width: 100%;
}
.map-wrap {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 13px 34px rgba(0, 0, 0, 0.3);
}

.map-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  
}